img {
    height: 40%;
}

.searchInput {
    width: 100%;
    margin: auto;
    max-width: 300px;
}

.searchInput input[type=text] {
    padding: 10px;
    font-size: 12px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: white;
    border-radius: 5px;
    /* max-height: 30px; */
}

.searchInput button {
    float: left;
    width: 20%;
    padding: 10px;
    background: white;
    color: #B12025;
    font-size: 12px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    border-radius: 5px;
    /* max-height: 30px; */
}

.searchInput button:hover {
    background: #F3F3F3;
}

.searchInput::after {
    content: "";
    clear: both;
    display: table;
}

.dropbtn {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    width: 80%;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f808082f;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
}

.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    border-radius: 10px;
}

.dropdown-content a:hover {
    background-color: rgb(122, 0, 0);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.searchDiv {
    display: flex;
    width: 40%;
}

.orderBy {
    background-color: #B12025;
    border-radius: 10px;
}