img {
    /* height: 40%; */
}

.container {
    max-width: 100%;
}

#picture-actor {
    width: 100%;
    height: 100%;
}

.films-played {
    display: flex;
    flex-wrap: wrap;
    background-color: #4E4E50; 
    border-radius: 3%;
    max-height: 300px;
    justify-content: center;
    align-items: center;
    overflow: auto;

}

label {
    color: white;
}

.image-film-actor {
    display: block;
    width: 100%;
    height: 100%;
}

.film-div {
    padding: 2% 5%;
    width: 26%;
    position: relative;
}


.film-div:hover .overlay-actor-movies{
    opacity: 1;
}


.title-div {
    margin-top: 3%; 
    text-align: center;
}

.info-actor {
    text-align: right;
}

.col-md-3, .col-md-9 {
    max-height: 450px;
}

.overlay-actor-movies {
    padding-top: 5%;
    position: absolute;
    top: 7%;
    left: 19%;
    color: white;
    width: 62%;
    height: 86%;
    justify-content: center;
    text-align: center;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(92, 10, 10, 0.521);
    box-shadow: 2px 2px #240808c5;
}