.row {
    justify-content: center;
}

#recommends {
    max-width: 70%;
}

label {
    width: 100%;
    padding: 2%;
    font-size: 80%;
}

.title-recommends {
    text-align: center;
}

.films-recommended {
    gap: 10%;
    display: flex;
    background-color: #4E4E50;
    border-radius: 3%;
    height: 200px;
    align-content: center;
    justify-content: center;
}

/* .recommend-div {
    padding: 2% 5%;
    width: 33%;
    position: relative;
}

.recommend-div:hover .overlay {
    opacity: 1;
} */

.info {
    width: 100%;
    padding: 2%;
    /* height: 300px; */
}


.image-film-watchlist {
    display: block;
    width: 100%;
    height: 100%;
}
